<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="site.imcu.tape.mapper.AuthorityMapper">

	<select id="selectAuthorityByUserId" resultType="site.imcu.tape.pojo.Authority">
		select t2.authority from tape_user_authority t1
		inner join tape_authority t2 on t1.authority_id = t2.id
		where t1.user_id = #{userId}
	</select>
	<insert id="insertUserAuthority">
		insert into tape_user_authority (user_id, authority_id,create_time,create_man)
		VALUES (#{userId},#{authorityId},now(),0)
	</insert>
</mapper>