<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="site.imcu.tape.mapper.ClipMapper">

    <select id="selectClipPage" resultType="site.imcu.tape.pojo.Clip">
		SELECT t1.id,t1.title,t1.clip_path,t1.cover_path,t1.is_deleted deleted,t1.create_time,t1.create_man,t1.creator,
			   t2.id "user.id", t2.avatar "user.avatar" ,t2.username "user.username",t1.create_time
		FROM tape_clip t1
		INNER JOIN tape_user t2 on t1.creator = t2.id
		<where>
			<if test="clip.creator != null">
				and t1.creator = #{clip.creator}
			</if>
			<if test="clip.deleted != null">
				and t1.is_deleted = #{clip.deleted}
			</if>
		</where>
	</select>

	<select id="selectById" resultType="site.imcu.tape.pojo.Clip">
		SELECT t1.id, t1.title, t1.source_file, t1.clip_path, t1.cover_path, t1.creator, t1.is_deleted deleted, t1.update_time, t1.update_man, t1.create_time, t1.create_man,
			   t2.id "user.id", t2.avatar "user.avatar" ,t2.username "user.username",t1.create_time
		FROM tape_clip t1
		INNER JOIN tape_user t2 on t1.creator = t2.id
		where t1.id = #{id}
	</select>
</mapper>