<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.imcu.tape.mapper.CommentMapper">
    <select id="selectCommentPage" resultType="site.imcu.tape.pojo.Comment">
        select t1.id, t1.text, t1.user_id, t1.clip_id, t1.create_time, t1.create_man, t1.update_time, t1.update_man,
               t2.id 'user.id',t2.username 'user.username',t2.avatar 'user.avatar'
        from tape_comment t1
        inner join tape_user t2 on t1.user_id = t2.id
        where t1.clip_id = #{comment.clipId} and t1.is_deleted = 0
    </select>
</mapper>
