<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.imcu.tape.mapper.UserMapper">

    <resultMap id="userMap" type="site.imcu.tape.pojo.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="signature" property="signature"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_man" property="updateMan"/>
        <result column="create_time" property="createTime"/>
        <result column="create_man" property="createMan"/>
        <result column="is_deleted" property="deleted"/>
        <collection property="authorities" ofType="site.imcu.tape.pojo.Authority">
            <result column="authority" property="authority"/>
        </collection>
    </resultMap>
    <select id="selectPage" resultMap="userMap">
        select t1.id, t1.username, t1.password, t1.nickname, t1.phone, t1.email, t1.avatar, t1.signature,
        t1.update_time, t1.update_man, t1.create_time, t1.create_man, t1.is_deleted,
        t3.authority
        from tape_user t1
        left join tape_user_authority t2 on t1.id = t2.user_id
        left join tape_authority t3 on t2.authority_id = t3.id
    </select>
    <select id="selectByName" resultMap="userMap">
        select t1.id, t1.username, t1.password, t1.nickname, t1.phone, t1.email, t1.avatar, t1.signature,
        t1.update_time, t1.update_man, t1.create_time, t1.create_man, t1.is_deleted,
        t3.authority
        from tape_user t1
        left join tape_user_authority t2 on t1.id = t2.user_id
        left join tape_authority t3 on t2.authority_id = t3.id
        where t1.username = #{username}
    </select>

</mapper>